{% extends 'adminpanel/base.html' %}
{% block content %}
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Products grid</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    {% if messages%} {% for message in messages%}
                    <div
                    class="alert alert-warning alert-dismissible fade show"
                    role="alert"
                    >
                    <strong></strong>{{message}}
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                    ></button>
                    </div>
                    {%endfor%} {%endif%}
                    <div>
                        
                        <a href="{% url 'addproduct' %}" class="btn btn-primary btn-sm rounded">Create new</a>
                    </div>
                </div>
                <header class="card card-body mb-4">
                    <div class="row gx-3">
                        <form action="{% url 'search_products_admin' %}" method="get">
                        <div class="col-lg-4 col-md-6 me-auto">
                            
                            <input class="form-control" type="search" name="q" placeholder="Search here..." required="" id="search" value="{{ request.GET.q}}" />
                            
                            {% comment %} <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button> {% endcomment %}
                        </div>
                        <br>
                        </form>
                     <form style="display: flex; align-items: center; gap: 5px; flex-wrap: wrap;" action="/admindashboard/filtered-product-admin/" method="get">
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select" style="z-index: 100;" name="category">
                                <option>All category</option>
                                {% for category in categories %}
                                <option  value={{category.id}}>{{ category.category_name }}</option>
                               
                                {% endfor %}
                               
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select" name="brand">
                                <option>All Brand</option>
                                {% for brand in brands %}
                                
                                <option  value="{{brand.id}}">{{ brand.brand_name }}</option>
                                
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3"> 
                            <input class="btn btn-primary btn-sm rounded" type="submit" value="Apply Filters">
                            
                        </div>
                    </form>
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="row">
                    {% for product in products %}
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card card-product-grid">
                            <a href="#" class="img-wrap"> <img src="{{ product.image.url }}" alt="Product" /> </a>
                            <div class="info-wrap">
                                <div class="dropdown float-end">
                                    <a href="{% url 'editproduct' product.id %}" class="btn btn-sm btn-brand rounded p-2"> <i class="material-icons md-edit mr-2"></i>Edit </a>
                                    <br>
                                    <br>
                                    <a href="{% url 'deleteproduct' product.id %}" class="btn btn-sm btn-brand rounded p-2">Delete </a>
                                    <br>
                                    <br>
                                    <a href="{% url 'addvariant' product.id %}" class="btn btn-sm btn-brand rounded p-2">variant </a>
                                    <br>
                                    <br>
                                    <a href="{% url 'variant' product.id %}" class="btn btn-sm btn-brand rounded p-2">variantlist </a>
                                </div>
                                <a href="#" class="title">{{ product.product_name }}</a>
                                <br>
                                <div class="price mt-1">&#8377;{{product.productVariant.first.price}}</div>
                                <!-- price-wrap.// -->
                            </div>
                        </div>
                        <!-- card-product  end// -->
                    </div>
                    {% endfor %}
                    <!-- col.// -->
                </div>
                <!-- row.// -->
                
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
            {% endblock content %}
        </main>
        <script src="/static/admin_assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/static/admin_assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/static/admin_assets/js/vendors/select2.min.js"></script>
        <script src="/static/admin_assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="/static/admin_assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/static/admin_assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
